.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

polygon {
  stroke-width: 0.02px
}

polygon.clicked {
  fill: gray
}

polygon.loaded {
  fill: hsl(240, 100%, 50%)
}

g {
  transition: transform 0.5s;
}

g.pos-nw {
  transform: translate(-2px, -3px);
}

g.pos-ne {
  transform: translate(0, -3px);
}

g.pos-sw {
  transform: translate(-2px, 1px);
}

g.pos-se {
  transform: translate(0, 1px);
}

g.pos-c {
  transform: translate(-1px, -1px);
}

.expanded-c > .pos-nw {
  transform: translate(-2px, -3px) scale(0.5, 0.5);
}

.expanded-c > .pos-ne {
  transform: translate(1px, -3px) scale(0.5, 0.5);
}

.expanded-c > .pos-sw {
  transform: translate(-2px, 2px) scale(0.5, 0.5);
}

.expanded-c > .pos-se {
  transform: translate(1px, 2px) scale(0.5, 0.5);
}

.expanded-c > .pos-c {
  transform: translate(-2px, -2px) scale(2, 2);
}

text.timestamp {
  fill: #005CFF;
  font-size: 0.2px;
}

text.train {
  font-family: Arial Narrow, Arial, sans-serif;
}

rect.branch {
  fill: #000;
  stroke: red;
  stroke-width: 0.02px
}
