.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

polygon.clicked {
  fill: gray
}

polygon.loaded {
  fill: hsl(240, 100%, 50%)
}

g.pos-nw {
  transform: translate(0, 0);
}

g.pos-ne {
  transform: translate(64px, 0);
}

g.pos-sw {
  transform: translate(0, 128px);
}

g.pos-se {
  transform: translate(64px, 128px);
}

g.pos-c {
  transform: translate(32px, 64px);
}

text.timestamp {
  fill: #005CFF;
  font-size: 8px;
}

text.train {
  font-family: Arial Narrow, Arial, sans-serif;
}

rect.branch {
  fill: #000;
  stroke: red;
}
